body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  background-color: $wh;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1130px;
}

.logo {
  display: block;
  font-weight: 700;
  font-size: 24px;
}

.title {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 36px;
  text-align: center;
  color: $bl;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80px;
    height: 3px;
    background-color: $accent;
    transform: translateX(-50%);
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  padding: 20px 5px;
  width: 100%;
  max-width: 170px;
  border: 3px solid transparent;
  border-radius: 10px;
  font-size: 18px;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  cursor: pointer;
}

.nav__items {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  font-size: 20px;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.nav__link {
  position: relative;
  padding-bottom: 5px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: $wh;
    transition: width 0.3s linear;
  }

  &:hover::before {
    width: 100%;
  }
}
