body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  background-color: $wh;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1130px;
}

.logo {
  display: block;
  font-weight: 700;
  font-size: 24px;
}

.title {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 36px;
  text-align: center;
  color: $bl;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80px;
    height: 3px;
    background-color: $accent;
    transform: translateX(-50%);
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  padding: 20px 5px;
  max-width: 170px;
  width: 100%;
  border: 3px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  cursor: pointer;
}
