body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  background-color: $wh;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1130px;
}

.logo {
  display: block;
  font-weight: 700;
  font-size: 24px;

  @include r($md) {
    font-size: 20px;
  }
}

.title {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 36px;
  text-align: center;
  color: $bl;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80px;
    height: 3px;
    background-color: $accent;
    transform: translateX(-50%);
  }

  @include r($lg) {
    font-size: 32px;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  padding: 20px 5px;
  width: 100%;
  max-width: 170px;
  border: 3px solid transparent;
  border-radius: 10px;
  font-size: 18px;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  cursor: pointer;

  @include r($md) {
    padding: 15px 5px;
  }
}

.nav__items {
  display: flex;
  justify-content: space-between;

  @include r($md) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    padding: 80px 0 15px;
    border-bottom: 2px solid $wh;
    text-align: center;
    color: $wh;
    background-color: $accent;
    transform: translateY(-200%);
    transition: all 0.5s;
  }
}

.nav__items--active {
  @include r($md) {
    z-index: -1;
    transform: translateY(0);
  }
}

.nav__item {
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  font-size: 20px;

  &:not(:last-child) {
    margin-right: 20px;

    @include r($md) {
      margin-right: 0;
    }
  }
}

.nav__link {
  position: relative;
  padding-bottom: 5px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: $wh;
    transition: width 0.3s linear;
  }

  &:hover::before {
    width: 100%;
  }
}

.sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}
