.intro {
  position: relative;
  overflow: hidden;
  color: $wh;
  background-color: $accent;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    @include r($md) {
      justify-content: left;
      min-height: 600px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;

    @include r($md) {
      z-index: 5;
      margin-top: 50px;
    }
  }

  &__title {
    margin-bottom: 15px;
    width: 100%;
    font-size: 42px;
  }

  &__subtitle {
    margin-bottom: 15px;
    font-size: 20px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__link {
    color: $bl;
    background-color: $wh;

    &:hover {
      border: 3px solid $wh;
      color: $wh;
      background-color: $accent;
    }

    @include r($md) {
      padding: 15px;
    }

    @include r($sm) {
      border: 3px solid $wh;
      color: $wh;
      background-color: transparent;
    }
  }

  &__img {
    margin-top: auto;
    width: 100%;
    max-width: 800px;

    @include r($md) {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0.5;
      width: 100%;
      max-width: 500px;
    }

    @include r($sm) {
      right: -100px;
    }
  }
}